body {
    padding: 10px;
}
.fixed_button {
    width: 95px;
}
circle:hover {
    cursor: pointer;
}
span.device, span.duration {
    color: #0ea432;
}
#dur-select > div {
    width: 6em;
}
.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}